{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12">
    <div class="container">
      <hr>
      <span class="right"><h2 id='fav'>
        0 favorited <i class='fa fa-star checked'></i>
      </h2></span>

      <div class="d-flex flex-row">
        <input id='search_input' class="form-control" type="text" name="book" placeholder="Search for books...">
        <div class="input-group-prepend">
          <button class="input-group-text cyan lighten-2" id="search"><i class="fa fa-search text-white" aria-hidden="true"></i></button>
        </div>
      </div>

      <hr>
      <div class="col-md-12 left">
          <table id="table_book" class="table m-0">
              <thead>
                  <tr>
                      <th>Title</th>
                      <th>Author</th>
                      <th class="center">Favorite</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
      </div>
    </div>
</div>
{% endblock %}
