{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12">
    <div class="container">
      {% if user.is_authenticated %}
        <p class="display-4">Hello, {{ user.first_name }} {{ user.last_name }}</p>
        <button class="btn btn-primary waves-effect waves-light" style="margin-top: 10px;">
          <a href="{% url 'books' %}">See Recommended Books</a>
        </button>
	     {% else %}
        <p class="display-4">Fact: <br>You dont have to log in to access this website<br>because I AM TIRED<br><br>
          You can only log in via GOOGLE<br>so plis dont click anything but Google+
        </p>
        <button class="btn btn-primary waves-effect waves-light" style="margin-top: 10px;">
          <a href="{% url 'login' %}">Log in</a>
        </button>
	     {% endif %}
    </div>
</div>
{% endblock %}
