{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12">
    <div class="container">
      <div class="col">
        <p class="display-4">Plis dont click anything but Google+
        </p>
        <a href="#" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
         </a>
        <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Login with Twitter
        </a>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="google btn"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
      </div>
    </div>
</div>

{% endblock %}
