.checked{
  color: orange;
  animation:blinkingText 0.8s infinite;
}

@keyframes blinkingText{
    0%{     color: orange;    }
    25%{     color: orange;    }
    49%{    color: yellow; }
    50%{    color: yellow; }
    75%{     color: yellow;    }
    99%{    color: orange;  }
    100%{   color: orange;    }
}
