{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12">
    <div class="container">
          <h1>{{ text }}</h1>
          <form id="form" method="POST" class="left" style="width: 50%; margin: 0 auto">
              {% csrf_token %}
              <div class="form-group">
                  <label for="email"><strong>{{ form.email.label_tag }}</strong></label>
                  {{ form.email }}
                  <span><p id="email_status" style="color: blue; text-align: center"></p></span>
              </div>

              <div class="form-group">
                  <label for="nama"><strong>{{ form.nama.label_tag }}</strong></label>
                  {{ form.nama }}
              </div>

              <div class="form-group">
                  <label for="password"><strong>{{ form.password.label_tag }}</strong></label>
                  {{ form.password }}
              </div>
              <br>
              <button id="subscribe" type="button" class="btn btn-primary waves-effect waves-h4ght" value="Save"><h4>Subscribe!</h4></button>
          </form>
          <hr>
          <br>
          <h1>This is my subscriber</h1>
          <p>Plis dont click delete</p>
          <table class="table m-0" id="table_subscriber">
              <thead>
                  <tr>
                      <th>Nama</th>
                      <th>Email</th>
                      <th>Delete</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
    </div>
</div>
{% endblock %}
