{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12">
    <div class="container">
    <a href="{% url 'home' %}">
      <button id="back" class="btn btn-primary waves-effect waves-light" style="margin-top: 10px;"><h4>Home</h4></button>
    </a>
		<h1>{{ text }}</h1>
		<hr>
		<p><i>"{{ moto }}"</i></p>
		<hr>
		<div class="col-md-4">
			<image id="profile_img" src="{% static 'story_6/images/profile.png' %}" alt="cantik" class="myfoto">
		</div>
		<div class="col-md-8">
			<p class="lead" align="left" style="font-size: 17px">
			<strong>Name</strong>
			<br>{{ name }}<br>
			<strong>Age</strong>
			<br>{{ age }} years old<br>
			<strong>Location</strong>
			<br>Bogor, Indonesia<br>
			<br>A creative code destroyer who always energetic, enjoy working in team, and eager to learn new things. Highly interested in technology especially in Data Science, Game Development, Web Development, and Robotics. Able to handle multiple task on a daily basis and quickly adapt to changes in the work environment.</p>
		</div>
    <hr>
    <div class="col-md-12">
        <hr>
         <h3 class="center">Ini Story-8</h3>
         <div class="col-md-12">
              <button class="accordion"><h4>My Activity</h4></button>
              <div class="panel">
                <p>
                <br>
                <h4>Kuliah</h4>
                <h4>Menugas</h4>
                <h4>Meweee</h4>
                <h4>Nepe</h4>
                <h4>Ngoding di FUKI</h4>
                <h4>Makan</h4>
                <h4>Tidur</h4>
                <h4>Nongkrong di Sekre</h4>
                <h4>Gabut</h4>
                <h4>Kajian di Kosan</h4>
                </p>
              </div>
         </div>

         <div class="col-md-12">
              <button class="accordion"><h4>Organization and Committee Experiences</h4></button>
              <div class="panel">
                <p>
                <br>
                    <h4>Staff ITForce @FUKI</h4>
                    <p>2017-2018</p>
                    <h4>Staff Data Science Academy @Compfest</h4>
                    <p>2017-2018</p>
                    <h4>Staff Games and Competition @CGT</h4>
                    <p>2017-2018</p>
                    <h4>Mentor @BETIS</h4>
                    <p>2018</p>
                </p>
              </div>
         </div>

         <div class="col-md-12">
              <button class="accordion"><h4>Achivement</h4></button>
              <div class="panel">
                <p>
                <br>
                <h4>Bukan Best Staff @all</h4>
                    <p>1999-2018</p>
                    <h4>Mahasantri @PESAN Bisa</h4>
                    <p>2018</p>
                    <h4>Awardee Scholars @Computer Science Leaders</h4>
                    <p>2017</p>
                    <h4>The Best Student in Academic Achivement</h4>
                    <p>2017</p>
                </p>
              </div>
         </div>
    </div>
	</div>
</div>
{% endblock %}
