<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Poiret+One" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="{% static "story_6/css/style.css" %}" rel="stylesheet">
        <script src="{% static "story_6/js/script.js" %}"></script>
        <link href="{% static "story_9/css/style.css" %}" rel="stylesheet">
        <script src="{% static "story_9/js/script.js" %}"></script>
        <script src="{% static "story_10/js/script.js" %}"></script>
    </head>

    <body>
      <div class="overlay center">
        <div class="loader center"></div>
        <h4>It's not slow connection<br>just me wanted to show off</h4>
        <h4>Thank you</h4>
      </div>

        <header class="header">
            <nav class="nav">
                <span class="col-md-4">
                  <button id="theme" class="btn btn-primary waves-effect waves-light" style="margin-top: 10px;">
                    <h4>Night Mode</h4>
                  </button>
                </span>
                <span class="col-md-4 center white"><h1>{{ title }}</h1></span>
                <span class="col-md-4 right">
                  <button class="btn btn-primary waves-effect waves-light" style="margin-top: 10px;">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}"><h4>Log out</h4></a>
                    {% else %}
                    <a href="{% url 'login' %}"><h4>Log in</h4></a>
                    {% endif %}
                  </button>
                </span>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
