{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12">
    <div class="container">
          <h1>{{ text }}</h1>
          <form id="form" class="left" style="width: 50%; margin: 0 auto" method="POST" action="{% url 'add_status' %}" novah4date>
              {% csrf_token %}
              <div class="form-group center">
                  <label for="status"><strong>{{ form.status.label_tag }}</strong></label>
                  {{ form.status }}
              </div>
              <br>
              <button id="submit" type="submit" class="btn btn-primary waves-effect waves-h4ght" value="Save"><h4>Add</h4></button>
          </form>
          <hr>
		      <div class="col-md-12">
		      {% if data %}
		         <h1>Curhatanq di sini</h1>
			       {% for obj in data %}
			          <div class="col-md-4 center">
				              <h4><strong>{{ obj.dates }}</strong></h4>
				              <h3>{{ obj.status }}</h3>
				              <hr>
			          </div>
			       {% endfor %}
		      {% endif %}
		      </div>
		      <hr>
		      <div class="col-md-12">
            <hr>
			         <h3 class="center">Baca tentangq di sini</h3>
			         <a href="{% url 'about' %}">
                 <button class="btn btn-primary waves-effect waves-h4ght">
                   <h4>Challange 6</h4>
                 </button>
               </a>
		      </div>
          <hr>
    </div>
</div>
{% endblock %}
