.checked{
  color: orange;
  animation:blinkingText 0.8s infinite;
}

@keyframes blinkingText{
    0%{     color: orange;    }
    25%{     color: orange;    }
    49%{    color: yellow; }
    50%{    color: yellow; }
    75%{     color: yellow;    }
    99%{    color: orange;  }
    100%{   color: orange;    }
}

#search_input {
    width: 30%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search_input:focus {
    width: 100%;
}

.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}
