h1, h2{font-family: 'Poiret One', serif;}

h3, h4, p, th, td{font-family: 'Josefin Slab', serif;}

a{color: white;}

.form-group{
    font-family: 'Poiret One', serif;
    font-size: 2vw;
}

.left{text-align: left;}

.center{text-align: center;}

.right{text-align: right;}

.white{color: white;}

.header{
    position: fixed;
    width: 100%;
    background: #171B1A;
    z-index: 102;
    padding-bottom : 10px;
}

.but{
    bottom: 5%;
    position: fixed;
    z-index: 105;
    left: 50%;
    transform: translate(-50%, 0);
    color: black;
}

.container{
    padding-top: 10%;
    padding-bottom: 7%;
    width: 80%;
    text-align: center;
}

.form-group{
    font-family: 'Poiret One', serif;
    font-size: 2vw;
}
