h1, h2{font-family: 'Poiret One', serif;}

h3, h4, p, th, td{font-family: 'Josefin Slab', serif;}

a{color: white;}

.form-group{
    font-family: 'Poiret One', serif;
    font-size: 2vw;
}

.left{text-align: left;}

.center{text-align: center;}

.right{text-align: right;}

.white{color: white;}

.header{
    position: fixed;
    width: 100%;
    background: #171B1A;
    z-index: 102;
    padding: 20px;
}

.container{
    padding-top: 10%;
    padding-bottom: 7%;
    width: 80%;
    text-align: center;
}

.form-group{
    font-family: 'Poiret One', serif;
    font-size: 2vw;
}

.myfoto
 {
    width: 100%;
    height: 100%;
    left: 5px;
}

.accordion
{
    background: #171B1A;
    color: white;
    padding: 18px;
    width: 100%;
    transition: 0.4s;
    border: none;
}

.active, .accordion:hover {
    background-color: #4d4d4d;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.panel > ul{
    list-style: none;

}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.overlay{
  position: fixed;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  z-index: 999;
  width: 100%;
  height: 100%;
  size: cover;
}
